@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="my-header">Payment Requisition Uploads</h2>

<div class="row">
    <!-- Supplier Invoice -->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Supplier Invoice</div>
            <div class="panel-body">
                @using (Html.BeginForm("UploadFile", "Upload", new { id = ViewBag.Id, attachmentType = 1 }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        @Html.TextBox("file", "", new { type = "file" })
                        <input type="submit" value="Upload" />
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Proof of Payment -->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Proof of Payment</div>
            <div class="panel-body">
                @using (Html.BeginForm("UploadFile", "Upload", new { id = ViewBag.Id, attachmentType = 2 }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        @Html.TextBox("file", "", new { type = "file" })
                        <input type="submit" value="Upload" />
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Proof of Payment -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Results</div>
            <div class="panel-body">
                <p>@ViewBag.MessageInvoice</p>
                <p>@ViewBag.MessagePop</p>
                <p>@ViewBag.Message</p>
            </div>
        </div>
    </div>
</div>

<a href="/PaymentRequisition/Dashboard">
    <div class="u-active-grey-90 u-border-none u-btn u-btn-submit u-button-style u-hover-grey-90 u-palette-1-base u-btn-1">
        <span>Done</span>
    </div>
</a>




