@model Platinum.Life.Entities.PaymentRequisition

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="my-header">Create</h2>

<form id="frm-create-payment-requisition" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <br>
    <!-- User Details -->
    <fieldset>
        <legend>User Detail</legend>
        <div class="row">
            <div class="col-md-6">
                <label for="Name">Name</label><br />
                <input name="Names" type="text" value="@ViewBag.FirstName, @ViewBag.Surname" readonly />
            </div>

            <div class="col-md-6">
                <label for="Email">Email</label><br />
                <input name="Email" type="text" value="@ViewBag.Email" readonly />
            </div>
        </div>
    </fieldset>
    <br>
    <!--Invoice Details -->
    <fieldset>
        <legend>Invoice Details</legend>
        <div class="row">
            <!-- DepartmentId -->
            <div class="col-md-6">
                <label for="DepartmentId">Department</label><br />
                <input name="DepartmentId" type="hidden" value="@Html.DisplayFor(model => model.DepartmentId)" />

                <select name="DepartmentDisplay" id="DepartmentDisplay">
                    <option value="1">Accounting and Financial</option>
                    <option value="2">Human Resources</option>
                    <option value="3">Marketing</option>
                    <option value="0">-- Add New Department --</option>
                </select>
            </div>

            <div class="col-md-6">
                <!-- DateOfInvoice -->
                <label for="DateOfInvoice">Date Of Invoice</label><br />
                <input name="DateOfInvoice" class="datepicker" type="text" /><br />
            </div>
        </div>

        <div class="row">
            <!-- Description -->
            <div class="col-md-12">
                <label for="Description">Description</label>
                <textarea name="Description" rows="4" cols="50" maxlength="200"></textarea>
            </div>
        </div>
    </fieldset>
    <br>
    <!-- Bank Detail -->
    <fieldset>
        <legend>Bank Detail</legend>
        <!-- AccountHolder -->
        <label for="BankDetails.AccountHolder">AccountHolder</label><br />
        <input name="BankDetails.AccountHolder" type="text" /><br />

        <!-- Bank -->
        <label for="BankDetails.Bank">Bank</label><br />
        <select name="BankDetails.Bank" id="Bank">
            <option value="Absa">Absa</option>
            <option value="FNB">FNB</option>
        </select><br />

        <!-- BranchCode -->
        <label for="BankDetails.BranchCode">BranchCode</label><br />
        <input name="BankDetails.BranchCode" type="text" /><br />

        <!-- Attachment -->
        <label for="Attachment.Url">Attachment</label><br />
        <input name="Attachment.Url" id="Attachment" class="form-control" type="file" />
    </fieldset>
    <!-- Button -->
    <br>
    <button type="submit" value="Submit">Create</button>
</form>


















@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PaymentRequisition</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DepartmentId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfInvoice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOfInvoice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateOfInvoice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StatusId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreateDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreateDateTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ModifiedDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifiedDateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ModifiedDateTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
