@model Platinum.Life.Web2.Models.PaymentRequisitionViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- jSignature -->
<style>
    #signature {
        /* width: 100%; */
        height: auto;
        margin: -25px 3px 0 5px;
        border: 1px solid black
    }
</style>

<h2 class="my-header">Payment Requisition No. @Model.Id </h2>

<form id="frm-create-payment-requisition" method="POST">
    @Html.AntiForgeryToken()
    <br>
    <!-- User Details -->
    <fieldset>
        <legend>User Detail</legend>
        <div class="row">
            <!-- Name -->
            <div class="col-md-6">
                <label for="Name">Name</label><br />
                <input name="CreatedByName" type="text" value="@Html.DisplayFor(model => model.CreatedByName)" readonly />
            </div>
            <!-- Email -->
            <div class="col-md-6">
                <label for="Email">Email</label><br />
                <input name="CreatedByEmail" type="text" value="@Html.DisplayFor(model => model.CreatedByEmail)" readonly />
            </div>
        </div>
    </fieldset>
    <br>
    <!--Invoice Details -->
    <fieldset>
        <legend>Invoice Details</legend>
        <div class="row">
            <!-- DepartmentId -->
            <div class="col-md-6">
                <label for="DepartmentName">Department</label><br />
                <input name="DepartmentName" type="text" value="@Html.DisplayFor(model => model.DepartmentName)" /><br />
                <input name="DepartmentId" type="hidden" value="@Html.DisplayFor(model => model.DepartmentId)" /><br />
            </div>
            <!-- DateOfInvoice -->
            <div class="col-md-6">
                <label for="DateOfInvoice">Date Of Invoice</label><br />
                <input name="DateOfInvoice" class="datepicker" type="text" value="@Html.DisplayFor(model => model.DateOfInvoice)" /><br />
            </div>
        </div>
        <div class="row">
            <!-- Description -->
            <div class="col-md-12">
                <label for="Description">Description</label>
                <textarea name="Description" rows="4" cols="50" maxlength="200">@Html.DisplayFor(model => model.Description)</textarea>
            </div>
        </div>
    </fieldset>
    <br>
    <!-- Bank Detail -->
    <fieldset>
        <legend>Bank Detail</legend>
        <div class="row">
            <!-- AccountHolder -->
            <div class="col-md-6">
                <label for="BankDetails.AccountHolder">Account Holder</label><br />
                <input name="BankDetails.AccountHolder" type="text" value="@Html.DisplayFor(model => model.BankDetails.AccountHolder)" /><br />
            </div>
            <!-- AccountNumber -->
            <div class="col-md-6">
                <label for="BankDetails.AccountNumber">Account Number</label><br />
                <input name="BankDetails.AccountNumber" type="text" value="@Html.DisplayFor(model => model.BankDetails.AccountNumber)" /><br />
            </div>
        </div>
        <div class="row">
            <!-- Bank -->
            <div class="col-md-6">
                <label for="BankDetails.Bank">Bank</label><br />
                <input name="BankDetails.Bank" type="text" value="@Html.DisplayFor(model => model.BankDetails.Bank)" /><br />
            </div>
            <!-- BranchCode -->
            <div class="col-md-6">
                <label for="BankDetails.BranchCode">BranchCode</label><br />
                <input name="BankDetails.BranchCode" type="text" value="@Html.DisplayFor(model => model.BankDetails.BranchCode)" /><br />
            </div>
        </div>
    </fieldset>
    <br>
    <!-- Attachment -->
    <fieldset>
        <legend>Attachment</legend>
        <div class="row">
            <div class="col-md-6">
                @if (Model.Attachment != null)
                {
                    <div class='embed-responsive' style='padding-bottom:90%'>
                        <embed src="~/UploadedFiles/@Model.Attachment.Url" type="application/pdf" width="100%" height="100%" />
                    </div>
                }
                else
                {
                    <p>No attachment found</p>
                }
            </div>
        </div>
    </fieldset>
    <br>
    <!-- Signature -->
    <fieldset>
        <legend>Signature (Please sign in the box)</legend>
        <div class="row">
            @if (Model.Signature == null)
            {
                if (User.IsInRole("Admin"))
                {
                    <input id="hdnUserId" value="@ViewBag.UserId" type="hidden">
                    <input id="hdnPaymentRequisitionId" value="@Model.Id" type="hidden"><div id="signature"></div><input type='button' id='click' value='Save you Signature'><!-- Preview image -->@*<img src='' id='sign_prev' style='display: none;' />*@
                }
                else
                {
                    <p>Only Managers can Signature Off</p>
                }
            }
            else
            {
                <img src="~/UploadedFiles/Signature/@Model.Signature.Url" />
            }
        </div>
    </fieldset>
    <br>
</form>

@if (User.IsInRole("Admin"))
{
    <a href="/PaymentRequisition/PrintPartialViewToPdf?paymentRequisitionId=@Model.Id" Index class="Button">
        <div class="row">
            <h3 style="background-color: #46dc46; color: white; text-align: center; padding: 5px 0 5px 0; text-decoration: none;">Sign Off</h3>
        </div>
    </a>
}

