@model Platinum.Life.Web2.Models.Bashboard
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="my-header">Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("List", "PaymentRequisition")" class="my-panel">
            <div class="panel panel-default">
                <div class="panel-heading">New</div>
                <div class="panel-body">@Model.TotalNew</div>
                <div class="panel-footer"><p>Has Been created but pending Signed by Manager</p></div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("List", "PaymentRequisition")" class="my-panel">
            <div class="panel panel-default">
                <div class="panel-heading">Approved</div>
                <div class="panel-body">@Model.TotalApproved</span></div>
                <div class="panel-footer">Has been Signed by Manager</div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("List", "PaymentRequisition")" class="my-panel">
            <div class="panel panel-default">
                <div class="panel-heading">Total</div>
                <div class="panel-body">@Model.Total</div>
                <div class="panel-footer">All Payment Requisition</div>
            </div>
        </a>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
<link href="~/Content/bootstrap-steps.min.css" rel="stylesheet" />
<div class="container my-5">
    <h2 class="text-center">Payment Requisitions</h2>
    <div class="my-5">
        <div class="mb-3">
            <ul class="steps">
                <li class="step step-success">
                    <div class="step-content">
                        <span class="step-circle">@ViewBag.TotalNew</span>
                        <span class="step-text">
                            <a href="@Url.Action("List", "PaymentRequisition")">New</a>
                        </span>
                    </div>
                </li>
                <li class="step step-active">
                    <div class="step-content">
                        <span class="step-circle">@ViewBag.TotalPendingSignature</span>
                        <a href="@Url.Action("List", "PaymentRequisition")">Pending <br>Signature</a>
                    </div>
                </li>
                <li class="step">
                    <div class="step-content">
                        <span class="step-circle">@ViewBag.TotalApproved</span>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/fontawesome.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/brands.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>