<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- CORE CSS FRAMEWORK - START -->
    <!-- <link href="~/lib/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" /> -->
    <link href="~/Content/Template/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    @RenderSection("styles", required: false)
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
    <!-- CORE CSS TEMPLATE - START -->
    <link href="~/Content/Template/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->
</head>
<body>
    <div class="@ViewData["body_class"]">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
